/* Google  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2 rem;
    scroll-behavior: smooth;
    /* list-style: none; */
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
:root {
    /* Header */
    --main-color: #e0ba33;
    --main-color-dark: #681c0c;
    --main-color-light: #d4b13b;
    --secondary-color: rgb(184, 130, 6);
    --secondary-color-dark: rgb(173, 97, 97);
    --secondary-color-light: rgb(204, 59, 59);
    --text-color: white;
    --gradient: linear-gradient(
        to right,
        var(--main-color) -20%,
        var(--secondary-color) 40%
    );

    --gradient-reverse: linear-gradient(
        to,
        var(--secondary-color) -20%,
        var(--main-color) 40%
    );

    --gradient-dark: linear-gradient(
        to right,
        var(--main-color-dark) -20%,
        var(--secondary-color-dark) 40%
    );

    /* Home */
    --home-text-color: rgb(109, 10, 10);
    --home-text-color-dark: rgb(56, 11, 11);
    --home-text-color-light: rgb(170, 19, 19);

    /* ride */
    --ride-text-color: rgb(109, 10, 10);
    --ride-text-color-dark: rgb(56, 11, 11);
    --ride-text-color-light: rgb(170, 19, 19);

    /* about */
    --about-text-color: rgb(109, 10, 10);
    --about-text-color-dark: rgb(56, 11, 11);
    --about-text-color-light: rgb(170, 19, 19);

    /* contact */
    --contact-text-color: rgb(109, 10, 10);
    --contact-text-color-dark: rgb(56, 11, 11);
    --contact-text-color-light: rgb(170, 19, 19);

    /* footer */
    --footer-text-color: rgb(109, 10, 10);
    --footer-text-color-dark: rgb(56, 11, 11);
    --footer-text-color-light: rgb(170, 19, 19);

    /* faqs vars */
    --negro: #393939;
    --blanco: #ececec;
    --sombra-ppal: #c9c9c9;
    --sombra-sec: #ffffff;
    --borde-negro: #00000050;
    --marcado: rgb(127, 195, 255);

    /* fonts */
    --tipo-principal: Helvetica, Arial, sans-serif;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}
section {
    padding: 50px 100px;
}

/* Start Header **************************************** */

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--gradient);
    padding: 15px 100px;
}

.logo img {
    width: 100px;
    /* border-radius: 50%; */
}

.navbar {
    display: flex;
}

.navbar li {
    position: relative;
    list-style: none;
    /* height: 80px; */
}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.navbar a::after {
    content: "";
    width: 0;
    height: 3px;
    background: var(--gradient-dark);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}

.navbar a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.header-btn a {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.header-btn .sign-in {
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 0.5rem;
}

.header-btn .sign-in:hover {
    background: var(--main-color-dark);
}

/* End Header Section **************************************** */

/* Start Home Section **************************************** */

.home {
    background-image: url("./images/portada.jpg");
    /* background: linear-gradient(to bottom, transparent, 95%, rgb(199, 148, 129)),
    url("https://img.indianautosblog.com/crop/1200x675/2015/09/Fiat-strada-adventure-extreme-front-press.jpg"); */
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    text-align: center;
}

.text h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
    color: var(--text-color);
    box-shadow: 10px 10px 100px 10px #393939;
    padding: 1rem;
    top: 2rem;
    position: relative;
}
.text span {
    color: var(--main-color);
    font-weight: bolder;
}

.text p {
    position: relative;

    margin: 0.5rem 0 1rem;
    color: var(--text-color);
    font-size: 1.8rem;
    box-shadow: 0 0 10px #393939;
    box-shadow: -5px -5px 125px 5px #d4b13b;
    display: inline;
    padding: 1rem;
}

/* End Home Section **************************************** */

/* start Card Section **************************************** */

/* section.card {
    background: linear-gradient(to top, transparent, 95%, rgb(199, 148, 129));
} */

.card-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card-container .card {
    width: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.card-container .card div,
h4 {
    padding: 10px 0px 10px 0;
    font-size: 25px;
}

.card-container .cardtwo .text {
    height: 400px;
}

.card-container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card-container .card img {
    width: 200px;
    height: 200px;
    background-size: contain;
}

.card-container .card h4 {
    font-weight: 600;
}

.card-container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.card-container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

/* End Card Section **************************************** */

/* start Soluciones Section **************************************** */

.heading {
    text-align: center;
}

.heading span {
    font-weight: 500;
    text-transform: uppercase;
}

.heading h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--ride-text-color);
}

.ride-container {
    position: relative;
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid: 1rem;
    margin-top: 2rem;
}
.ride-container .box {
    text-align: center;
    padding: 20px;
}
.ride-container .box .bx {
    font-size: 34px;
    padding: 10px;
    background: var(--main-color);
    border-radius: 0.5rem;
    color: var(--ride-text-color);
}
.ride-container .box h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}
.ride-container .box .bx:hover,
.ride-container .box .bxs-car {
    background: var(--secondary-color);
    color: var(--secondary-color-l);
}

li {
    padding: 1rem 0;
    text-align: start;
}

/* li:before {
    content: "•";
    font-size: 15px;
    vertical-align: top;
    padding-right: 7px;
}
li::after {
    content: "•";
    font-size: 15px;
    vertical-align: top;
    padding-right: 7px;
} */

/* End Soluciones  **************************************************/

section .faq {
    width: 100%;
}

.acordeon {
    /* width: 90%; */
    /* max-width: 20rem; */
    padding: 2rem;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1rem;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal),
        -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent,
        inset 0 0 0 transparent;
    box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal),
        -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent,
        inset 0 0 0 transparent;

    background-color: white;
}

.acordeon .bloque {
    margin: 0 0 1rem;
    padding: 1rem;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1rem;
    background-color: var(--blanco);
    background-color: white;

    -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal),
        -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent,
        inset 0 0 0 transparent;
    box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal),
        -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent,
        inset 0 0 0 transparent;
}

.acordeon .h2 {
    margin: 0 0 1rem;
    padding: 1rem;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1rem;
    background-color: var(--blanco);
    background-color: white;

    -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal),
        -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent,
        inset 0 0 0 transparent;
    box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal),
        -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent,
        inset 0 0 0 transparent;
    cursor: pointer;
}

.acordeon .h2:hover {
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1rem;
    background-color: var(--blanco);

    -webkit-box-shadow: 0 0 0 transparent, 0 0 0 transparent,
        inset 0.4rem 0.4rem 0.8rem var(--sombra-ppal),
        inset -0.4rem -0.4rem 0.8rem var(--sombra-sec);
    box-shadow: 0 0 0 transparent, 0 0 0 transparent,
        inset 0.4rem 0.4rem 0.8rem var(--sombra-ppal),
        inset -0.4rem -0.4rem 0.8rem var(--sombra-sec);
}

.acordeon .contenido {
    height: 0;
    padding: 0rem;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.acordeon .bloque.activo .contenido {
    height: auto;
}

/* End faq Section */

/* Start Servicios section  **************************************************/

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.services-container .box {
    padding: 40px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}
.services-container .box .box-img {
    width: 100%;
    /* height: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-container .box .box-img img {
    width: 100%;
    height: 100%;
    background-repeat: 1rem;
    object-fit: cover;
    object-position: center;
}
.services-container .box p {
    padding: 0 10px;
    border: 1px solid var(--main-color);
    width: 58px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
}
.services-container .box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    margin: 0.2rem 0 0.5rem;
}
.services-container .box h2 span {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--home-text-color-dark);
}
.services-container .box .btn {
    display: flex;
    justify-content: center;
    background: var(--main-color-light);
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;
}
.services-container .box .btn:hover {
    background: var(--main-color-dark);
}

.services-container .box a i {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 10px;
}
.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.about-img img {
    width: 80%;
    /* border-radius: 50%; */
}
.about-text span {
    font-weight: 500;
    color: var(--main-color);
    text-transform: uppercase;
}
.about-text p {
    margin: 0.5rem 0 1.4rem;
}
.about-text .btn {
    padding: 10px 20px;
    background: var(--main-color-light);
    color: #fff;
    border-radius: 0.5rem;
}
.about-text .btn:hover {
    background: var(--main-color-dark);
}

/* Start Contact Section  **************************************************/

.contact .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact iframe {
    width: 80%;
    height: 100%;
}

.contact p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--home-text-color-dark);
    padding: 2rem;
}

/* End Contact Section  **************************************************/

/* Start review Section  **************************************************/

.reviews-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.rev-img {
    width: 70px;
    height: 70px;
}
.rev-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--main-color-light);
}
.reviews-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}
.reviews-container .box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
    color: var(--main-color);
}
.reviews-container .box p {
    font-style: italic;
}
.about-container .box .stars .bx {
    color: var(--main-color-);
}

/* End review Section  **************************************************/

/* Start SocialMedia Section  **************************************************/

.socialmedia {
    width: 100%;
    background: #e8eff5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 48px 0;
    color: #525252;
}

.socialmedia .btn-container {
    display: flex;
}

/* neomorphism */
.socialmedia .btn {
    background: #e8eff5;
    height: 80px;
    width: 80px;
    margin: 0 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 400ms;

    box-shadow: 7px 7px 15px #bbcfda, -4px 4px 13px #fff,
        inset 4px 4px 0px 0px rgba(209, 217, 230, 0.2),
        inset -4px -4px 0px 0px rgba(255, 255, 255, 0.2);

    border: 1px solid rgba(255, 255, 255, 0.3);
}

.socialmedia .btn i {
    font-size: 40px;
    color: #727272;
    transition: all 400ms;
}

.socialmedia .btn:hover i {
    transform: scale(0.96);
}
.socialmedia .btn:hover {
    box-shadow: inset 4px 4px 0px 0px rgba(209, 217, 230, 0.2),
        inset -4px -4px 0px 0px rgba(255, 255, 255, 0.2);
    transform: scale(1.5);
}

/* End SocialMedia Section  **************************************************/

/* Start Footer Section  **************************************************/

.copyright {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: var(--main-color-dark);
    color: #fff;
}
.copyright a {
    color: #fff;
}

/* End Footer Section  **************************************************/

/* Start term y cond Section  **************************************************/

.term-cond {
    width: 100%;
}

.term-cond h2,
.term-cond h3 {
    padding: 20px;
}

.term-cond p {
    text-align: justify;
}
/* End term y cond Section  **************************************************/

/* Making Responsive ***************************************************/

@media (max-width: 991px) {
    header {
        padding: 18px 40px;
    }
    section {
        padding: 50px 40px;
    }
}

@media (max-width: 881px) {
    .home {
        background-position: left;
    }
    .form-container form {
        bottom: 0.2rem;
        left: 40px;
    }
    .sign-up {
        display: none;
    }
}

@media (max-width: 779px) {
    header {
        padding: 30px 40px;
    }
    #menu-icon {
        display: initial;
    }
    .sign-up {
        display: none;
    }
    .text {
        padding-top: 25px;
    }
    .text h1 {
        font-size: 2.5rem;
    }
    .home {
        grid-template-columns: 1fr;
    }
    .form-container form {
        position: unset;
    }
    header .navbar {
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--main-color-dark);
        box-shadow: 0px 4px 4px var(--main-color);
        transition: 0.2s ease;
        text-align: left;
    }
    .navbar.active {
        top: 100%;
        color: var(--main-color);
    }
    .navbar a {
        /* padding: 1rem; */
        border-left: 2px solid var(--main-color-light);
        /* margin: 1rem; */
        display: block;
    }
    .navbar a:hover {
        color: #444;
        background: var(--main-color-light);
        border: none;
    }
    .navbar a::after {
        display: none;
    }
    .heading span {
        font-size: 0.9rem;
        font-weight: 600;
    }
    .heading h1 {
        font-size: 1.3rem;
    }
    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img {
        padding: 1rem;
        order: 2;
    }
}

@media (max-width: 568px) {
    .copyright {
        flex-direction: column;
    }
    .newsletter .box {
        width: 284;
    }
    .form-container {
        padding-top: 2rem;
    }

    li {
        padding: 1rem 0;
        text-align: center;
    }
    .text h1 {
        padding-top: 2rem;
        font-size: 2rem;
        letter-spacing: 2px;
        color: var(--text-color);
        box-shadow: none;
        padding: 1rem;
        top: 2rem;
        position: relative;
    }
    .text span {
        color: var(--main-color);
        font-weight: bolder;
    }

    .text p {
        position: relative;

        margin: 0.5rem 0 1rem;
        color: var(--text-color);
        font-size: 1.8rem;
        box-shadow: none;
        /* box-shadow: -5px -5px 125px 5px #d4b13b; */
    }
}

@media (max-width: 350px) {
    header {
        padding: 30px 40px;
    }
    .logo img {
        width: 30px;
    }
    section {
        padding: 50px 14px;
    }
    .header-btn .sign-in {
        padding: 7px 10px;
        font-size: 14px;
        font-weight: 400;
    }
    .text h1 {
        font-size: 2rem;
    }
    .form-container {
        padding-top: 2rem;
    }
    .services-container {
        grid-template-columns: repeat(auto-fit, minmax(254px, auto));
    }

    li {
        padding: 1rem 0;
        text-align: center;
    }

    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img {
        padding: 1rem;
        order: 2;
    }
}

/* End Responsive ***************************************************/
